# Python bytecode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Development environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.code-workspace

# Distribution / packaging
dist/
build/
*.egg-info/

# Flask, migrations
instance/
*.db
*.sqlite3
migrations/

# Logs
*.log
logs/

# Project-specific
uploads/
models/*.gguf
vector_db_data/
!models/README.md

# Reports and documents
report.tex
report.doc
report.pdf

# Mac/OSX
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover